body{



    background-color: aquamarine;
}



#link{


font-size: 100px;
color: brown;


}


#first button{

font-size: 100px;
font-style: italic;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}

#new image{

height: 200px;
width: 150px;


}